<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.springboot.HIS.mapper.AllprescriptionsMapper" >
  
<insert id="insertAllprescriptions"  >
	<selectKey keyColumn="cfid" keyProperty="cfid" order="AFTER"
	resultType="int">
	select last_insert_id()
	</selectKey>
    insert into Allprescriptions (cfcount,pid,cfdate,did,issure)
    values (#{cfcount},#{pid},#{cfdate},#{did},#{issure})
 </insert>
 
 <update id="updateAllprescriptionsByCfid">
 	update Allprescriptions set issure = 1 where cfid = #{cfid}
 </update>
 
 <select id="selectAllprescriptionsByPidAndCfdate" resultType="Allprescriptions">
		select * from Allprescriptions
		<where>
			<if test="pid != null and pid !=''">
				 pid = #{pid} 
			</if>
			<if test="cfdate != null">
				 and DATE_FORMAT(cfdate,'%Y-%m-%d') = DATE_FORMAT(#{cfdate},'%Y-%m-%d')
			</if> 
		</where>
	</select>

<delete id="deleteAllprescriptionsByCfid">
	delete from Allprescriptions where cfid = #{cfid}
</delete>
 <update id="updateCfcountByPid">
 	update Allprescriptions set cfcount = #{cfcount} where cfid = #{cfid}
 </update>
 
 <select id="selectAllprescriptionsByCfid" resultType="Allprescriptions">
 select * from Allprescriptions where cfid = #{cfid}
 </select>

 <select id="selectAllprescriptionsByPidAndCfdate2" resultType="Allprescriptions">
		select * from Allprescriptions
		<where>
			<if test="pid != null and pid !=''">
				 pid = #{pid} 
			</if>
			<if test="cfdate != null">
				 and DATE_FORMAT(cfdate,'%Y-%m-%d') = DATE_FORMAT(#{cfdate},'%Y-%m-%d')
			</if> 
			and issure = 1
		</where>
	</select>
</mapper>