<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.woniuxy.springboot.HIS.mapper.MedicineMapper">
	<!-- 查询总条数 -->
	<select id="selectCount" resultType="integer">
		select count(*) from
		medicine
	</select>


	<!-- 新增药品 -->
	<insert id="insertMedicine">
	<selectKey keyColumn="mid" keyProperty="mid" order="AFTER"
	resultType="int">
	select last_insert_id()
	</selectKey>
		insert into medicine values (#{mid}, #{mname},
		#{mprice},#{msize},#{munit},#{manufacturer})
	</insert>
	<!-- 分页查询所有药品 -->
	<select id="selectAllMedicineByPage" resultType="Medicine">
		select * from
		medicine limit #{pageIndex},#{pageSize}
	</select>
	<!-- 查询所有药品 -->
	<select id="selectAllMedicine" resultType="Medicine">
		select * from medicine
	</select>
	<!-- 通过id查询药品 -->
	<select id="selectMedicineByMid" resultType="Medicine">
		select * from medicine where mid = #{mid}
	</select>
	
	<!-- 名字查询药品 -->
	<select id="selectMedicineByMname" resultType="Medicine">
		select * from
		medicine where mname like '%' #{mname} '%'
	</select>
	<!-- 修改药品 -->
	<update id="updateMedicine">
		UPDATE medicine
		<trim prefix="set" suffixOverrides=",">
			<if test="mname!=null">mname=#{mname},</if>
			<if test="mprice!=null">mprice=#{mprice},</if>
			<if test="msize!=null">msize=#{msize},</if>
			<if test="munit!=null">munit=#{munit},</if>
			<if test="manufacturer!=null">manufacturer=#{manufacturer},</if>
		</trim>
		WHERE mid=#{mid}
	</update>

	<!-- 删除药品 -->
	<delete id="deleteMedicine">
		delete from medicine where mid=#{mid}
	</delete>


	<!-- 多条件模糊分页查询 名字 价格 munit msize manufacturer 分页 -->
	<select id="selectMedicineByCondition" resultType="Medicine">
		select * from medicine
		<where>
			<if test="medicine.mname!=null and medicine.mname!=''">
				and mname like '%' #{medicine.mname} '%' 
			</if>
			<if test="medicine.mprice!=null and medicine.mprice!=''">
				 and mprice=#{medicine.mprice}
			</if>
			<if test="medicine.munit!=null and medicine.munit!=''">
				and munit=#{medicine.munit}
			</if>
			<if test="medicine.msize!=null and medicine.msize!=''">
				and msize=#{medicine.msize}
			</if>
			<if
				test="medicine.manufacturer!=null and medicine.manufacturer!=''">
				and manufacturer like '%' #{medicine.manufacturer} '%'
			</if>
		</where>
	</select>

</mapper>