<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.woniuxy.springboot.HIS.mapper.NurseMapper">
	<!-- 添加护士 -->
	<insert id="insertDoctor">
		insert into doctor values (#{tid}, #{tname}, #{personnum}, #{tsex},
		#{taddr}, #{tage}, #{tnumber}, #{title.titleid}, #{hospitals.hid}, #{keshi.kid})
	</insert>

	<!-- 根据tid查询护士 -->
	<select id="selectDoctorByTid" resultMap="doctorMapper">
		select * from doctor where tid = #{tid} and titleid between 6 and 10;
	</select>
	
	<!-- 根据tname查询护士 -->
	<select id="selectDoctorByTname" resultMap="doctorMapper">
		select * from doctor where tname = #{tname} and titleid between 6 and 10;
	</select>

	<resultMap type="Doctor" id="doctorMapper">
		<id column="tname" property="tname" />
		<result column="personnum" property="personnum" />
		<result column="tsex" property="tsex" />
		<result column="taddr" property="taddr" />
		<result column="tage" property="tage" />
		<result column="tnumber" property="tnumber" />
		<collection property="hospitals" ofType="Hospitals"
			select="selectHospitalsByHid" column="hid" />
		<collection property="keshi" ofType="Keshi"
			select="selectKeshiByKid" column="kid" />
		<collection property="title" ofType="Title"
			select="selectTitleByTitleid" column="titleid" />
	</resultMap>

	<select id="selectHospitalsByHid" resultType="Hospitals">
		select * from
		hospitals where hid = #{hid}
	</select>

	<select id="selectTitleByTitleid" resultType="Title">
		select * from title
		where titleid = #{titleid}
	</select>

	<select id="selectKeshiByKid" resultType="Keshi">
		select * from keshi
		where kid = #{kid}
	</select>

	<!-- 根据hid查询护士 -->
	<select id="selectDoctorByHid" resultMap="doctorMapper">
		select * from doctor where hid = #{hid} and titleid between 6 and 10;
	</select>

	

	<!-- 根据kid查询护士 -->
	<select id="selectDoctorByKid" resultMap="doctorMapper">
		select * from doctor where kid = #{Kid} and titleid between 6 and 10;
	</select>

	<!-- 查询所有护士 -->
	<select id="selectAllDoctors" resultMap="doctorMapper">
		select * from doctor and titleid between 6 and 10;
	</select>

	<!-- 根据tid更新护士信息 -->
	<update id="updateDoctorByTid">
		update doctor set tname = #{doctor.tname}, personnum=#{doctor.personnum},
		tsex = #{doctor.tsex}, taddr = #{doctor.taddr}, tage = #{doctor.tage},
		tnumber = #{doctor.tnumber},
		titleid = #{doctor.title.titleid}, hid = #{doctor.hospitals.hid},
		kid = #{doctor.keshi.kid} where tid = #{tid}
	</update>

	<delete id="deleteDoctorByTid">
		delete from doctor where tid = #{tid}
	</delete>
</mapper>