<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.springboot.HIS.mapper.PharmacymxMapper" >
  
  
  <insert id="insertPharmacymx"  >
    insert into pharmacymx 
    values (#{yfmxid},#{yfid},#{mid},#{yfmxnum},#{yfmxcount})
  </insert>
  
	<select id="selectPharmacymxByYfid" resultType="Pharmacymx">
		select * from pharmacymx where yfid = #{yfid} 
	</select>
	
	<select id="selectAllPharmacymx" resultType="Pharmacymx">
		select * from pharmacymx
	</select>
	
	
	<delete id="deletePharmacymxByYfid">
		delete from	pharmacymx where yfid = #{yfid}
	</delete>
	
	<delete id="deletePharmacymxByYfmxid">
		delete from	pharmacymx where yfmxid = #{yfmxid}
	</delete>
</mapper>