<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>药品页面</title>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
 
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>药品编号</th>
      <th>药品名称</th>
      <th>药品价格</th>
      <th>计数单位</th>
      <th>药品规格</th>
      <th>生产厂家</th>
      <th>操作</th>
    
    </tr> 
  </thead>
  <tbody>
  
    <tr th:each="medicine:${allMedicine}">
			<td th:text="${medicine.mid}"></td>
			<td th:text="${medicine.mname}"></td>
			<td th:text="${medicine.mprice}"></td>
			<td th:text="${medicine.munit}"></td>
			<td th:text="${medicine.msize}"></td>
			<td th:text="${medicine.manufacturer}"></td>
			<td >
			<a th:href="@{/medicine/selectAllMedicine}">编辑</a>
			<!-- 给当前超链接加一属性 属性就是请求的地址 -->			
			<a th:href="@{/medicine/selectAllMedicine}">删除</a>
			</td>
		</tr>
    
  </tbody>
</table>
      
 

</body>
</html>