<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>查询患者</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery-2.1.4.js}"></script>
<script type="text/javascript">
	layui.use('table', function(){
	  var table = layui.table;
	  
	  //第一个实例
	  table.render({
	    elem: '#persons'
	    ,height: 312
	    ,url: 'selectAllPersonsBytid' //数据接口
	    ,page: true //开启分页
	    ,cols: [
	    	[ //表头
	      {field: 'pname', title: '患者姓名', width:300, sort: true, fixed: 'left'}
	      ,{field: 'psex', title: '患者性别', width:300}
	      ,{field: 'page', title: '患者年龄', width:300, sort: true}
	      ,{field: 'pcode', title: '患者身份证号', width:300} 
	      
	    ]
	    ]
	  });
	  
	});
</script>	
	<table id="persons" lay-filter="test" style="text-align: center"></table>
<body>


</body>
</html>