<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>查询患者</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<script type="text/javascript" th:src="@{layui/layui.js}"></script>
<script type="text/javascript">
	
</script>
	
<body>
<span>[[${msg}]]</span>
	<form th:action="@{/persons/getpersonshistory}" >
	<div class="layui-form-item" style="width: 100%; float: left;">
    <label class="layui-form-label">患者身份证</label>
    <div class="layui-input-block">
      <input type="text" name="pcode"  lay-verify="required" lay-reqtext="身份证必须填写" placeholder="请输入患者身份证" autocomplete="off" class="layui-input" >
    </div>
    </div>
    <div style="float: right;">
  	<button type="submit" class="layui-btn layui-btn-fluid">查询患者信息</button>
  </div>
	</form>

</body>
</html>